<mat-spinner *ngIf="!loaded"></mat-spinner>

<div *ngIf="loaded" class="list">
  <mat-card *ngFor="let blog of blogView">
    <div (click)="navToBlog(blog.id)">
      <mat-card-title>{{ blog.title }}</mat-card-title>
      <mat-card-content>
        <mat-card-subtitle>{{ blog.description }}</mat-card-subtitle>
      </mat-card-content>
      <img [src]="blog.imagePath" [alt]="blog.title" class="image" />
      <br /><br />
    </div>
    <button mat-raised-button color="warn" (click)="onDeleteBlog(blog.id)">
      Delete
    </button>
  </mat-card>
  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="count"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
