mat-card {
  margin-left: 25%;
  margin-right: 25%;
  background-color: ghostwhite;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
}

mat-card-title {
  text-align: center;
  color: black;
  margin-bottom: 1rem;
}

mat-card-subtitle {
  text-align: justify;
  color: black;
}
