mat-toolbar {
  height: 4rem;
}

.company {
  text-decoration: none;
  color: black;
  margin-left: 0rem;
  margin-right: 1rem;
}

.menu {
  margin-left: auto;
}

a {
  margin-left: auto;
}

span {
  flex: auto;
}

button {
  margin-right: 1rem;
}
