mat-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-self: auto;
}

h1 {
  text-align: center;
}

mat-spinner {
  margin: auto;
  margin-top: 5rem;
}
